name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  publish_images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -f ./EmployeeManagement.Api/Dockerfile -t ghcr.io/gova19/employeemanagement:latest .

      - name: Push image to GHCR
        run: |
          echo ${{secrets.GITHUB_TOKEN}} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/gova19/employeemanagement:latest
